body {
  background-color: deepskyblue;
}

.container {
  text-align: center;
}

.Welcome {
  margin: 20px 0;
  color: aliceblue;
  font-family: 'Jacques Francois Shadow', cursive;
}

.btn {
  border: 1px solid aliceblue;
}

.btn-info {
  margin: 30px 0 10px 0;
}

.restaurant {
  text-align: center;
}

.display {
  color: fuchsia;
  font-size: 4em;
  font-family: 'Jacques Francois Shadow', cursive;
}

.hours {
  text-align: center;
}

.time {
  color: darkblue;
  margin: 10px 0;
}